.ct-series-a .ct-bar {
  stroke: orangered;
  stroke-width: 30px;
  
}
.ct-series-b .ct-bar {
  stroke: blue;
  stroke-width: 30px;
}

.ct-series-c .ct-bar{
  stroke: gray;
  stroke-width: 30px;
}
.temp-box{
  width: 50px;
  
}
.temp{
  display: inline-flex;
}
.max{
background-color: orangered;

}
.min{
  background-color: blue;
}

.viento{
  background-color: gray;
}
.subt{
  display: block;
  color: blueviolet;
  
  font-size: large;
}
.centro{
  text-align: center;
}
