.titulo{
    text-align: center;
    background-color: floralwhite;
    color: darkslategray;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    margin-top: 3px;

    padding: 3px;
}
td{
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
th{
    border-style: solid;
    border-width: 1px;
}
table{
    background-color: gainsboro;
}